@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot");
    src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"), url("../fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/MerriweatherBold/MerriweatherBold.eot");
    src: url("../fonts/MerriweatherBold/MerriweatherBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherBold/MerriweatherBold.woff") format("woff"), url("../fonts/MerriweatherBold/MerriweatherBold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/MerriweatherLight/MerriweatherLight.eot");
    src: url("../fonts/MerriweatherLight/MerriweatherLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherLight/MerriweatherLight.woff") format("woff"), url("../fonts/MerriweatherLight/MerriweatherLight.ttf") format("truetype");
}

@font-face {
    font-family: "Ceremonious";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Ceremonious/CeremoniousTwo.eot");
    src: url("../fonts/Ceremonious/CeremoniousTwo.eot?#iefix") format("embedded-opentype"), url("../fonts/Ceremonious/CeremoniousTwo.woff") format("woff"), url("../fonts/Ceremonious/CeremoniousTwo.ttf") format("truetype");
}

@font-face {
    font-family: "Carolyna";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/CarolynaBlack/CarolynaProBlack.eot");
    src: url("../fonts/CarolynaBlack/CarolynaProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/CarolynaBlack/CarolynaProBlack.woff") format("woff"), url("../fonts/CarolynaBlack/CarolynaProBlack.ttf") format("truetype");
}